<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="co.schmitt.android.keyringdroid"
          android:versionCode="1"
          android:versionName="0.1">
    <uses-sdk android:minSdkVersion="17"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher"
                 android:hardwareAccelerated="true">
        <provider
                android:name="KeyringProvider"
                android:authorities="co.schmitt.android.provider.KeyringDroid"
                android:exported="false">
            <grant-uri-permission android:pathPattern=".*"/>
        </provider>
        <service
                android:name="DriveSyncService"
                android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data
                    android:name="android.content.SyncAdapter"
                    android:resource="@xml/syncadapter"/>
        </service>
        <activity android:name="MainActivity"
                  android:label="@string/app_name" android:theme="@android:style/Theme.Holo.Light.DarkActionBar">
              <meta-data
                android:name="com.google.android.apps.drive.APP_ID"
                android:value="id=519807556467-a4qhb3t99ae09pqgvdc657bf8a7g176q.apps.googleusercontent.com" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
