<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="co.schmitt.android.keyringdroid"
          android:versionCode="1"
          android:versionName="0.1">

    <uses-sdk android:minSdkVersion="17"/>

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher"
            android:hardwareAccelerated="true"
            android:debuggable="true">
        <provider
                android:name="KeyringProvider"
                android:authorities="co.schmitt.android.provider.KeyringDroid"
                android:exported="false">
            <grant-uri-permission android:pathPattern=".*"/>
        </provider>

        <service
                android:name=".drive.DriveSyncService"
                android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data
                    android:name="android.content.SyncAdapter"
                    android:resource="@xml/syncadapter"/>
        </service>

        <service android:name="com.android.python27.ScriptService">
            <intent-filter>
                <action android:name="com.android.python27.ScriptService"/>
            </intent-filter>
        </service>

        <activity
                android:name="MainActivity"
                android:label="@string/app_name"
                android:theme="@android:style/Theme.Holo.Light.DarkActionBar">
            <meta-data
                    android:name="com.google.android.apps.drive.APP_ID"
                    android:value="id=519807556467-06604e80lvmapbif8siflc0i032dnb68.apps.googleusercontent.com"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="KeyringActivity"
                android:label="KeyringActivity"
                android:theme="@android:style/Theme.Holo.Light.DarkActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="co.schmitt.android.keyringdroid.MainActivity"/>
        </activity>
    </application>
</manifest>
